* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightpink;
    height: 90px;
    padding: 0 20px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu > li {
    margin: 0 10px;
}